<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Registration</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>
	<div th:if="${id !=null}">

		<h1>Registration Successfully</h1>
	</div>
	<a th:href="@{/get/{id}(id=${id})}">See Details</a>


	<p th:unless="${user == null}">
		Sorry! Failed to register please try after some time <span
			th:text="${/index}">Go Back</span>
	</p>


</body>

</html>